%h2==#{@product.name}

- @product.active_sprints.each do |sprint|
  %div.sprint{id: "sprint_#{sprint.id}"}
    =sprint.name
    %ul.issues
      - sprint.issues.each do |issue|
        %li{id: "issue_#{issue.id}"}
          =issue.name
          - if current_user.current_issue == issue
            = form_for issue, url: stop_issue_path(issue) do |f|
              =f.submit "stop"
          - else
            = form_for issue, url: continue_issue_path(issue) do |f|
              =f.submit "continue"
